<h2>Store Statistics</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Total number of products</th>
      <th>Total number of product categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong><%= @products.length %></strong>  (<a href="/admin/products">View Products</a>)
      </td>
      <td>
        <strong><%= @categories.length %></strong>
      </td>
    </tr>
  </tbody>
</table>


