<tr>
    <% category_value = 0 %>
    <% category_quantity = 0 %>
    <% category.products.each do |product| %>
    <% category_value += (product.price * product.quantity) %>
    <% category_quantity += product.quantity %>
    <% end %>
  <td>
    <%= category.name %>
  </td>
  <td>
    <%= category.products.count %>
  </td>
  <td>
    <%= category_quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol category_value %>
  </td>
</tr>